automation/n8n/workflows/build-pipeline-automation.json
{
  "name": "MOE Build Pipeline Automation",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-build",
      "name": "Webhook - Build Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "build-pipeline-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "build-status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-build-success",
      "name": "Build Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/peschull/menschlichkeit-oesterreich-development/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "🚨 Build Failed - {{ $('Webhook - Build Trigger').item.json.branch || 'unknown branch' }}"
            },
            {
              "name": "body",
              "value": "**Build Pipeline Failed**\\n\\n- **Branch:** {{ $('Webhook - Build Trigger').item.json.branch || 'unknown' }}\\n- **Commit:** {{ $('Webhook - Build Trigger').item.json.commit || 'unknown' }}\\n- **Service:** {{ $('Webhook - Build Trigger').item.json.service || 'multiple' }}\\n- **Error:** {{ $('Webhook - Build Trigger').item.json.error || 'No error details provided' }}\\n- **Time:** {{ $('Webhook - Build Trigger').item.json.timestamp }}\\n\\n@peschull please investigate."
            },
            {
              "name": "labels",
              "value": "[\"bug\", \"build-failure\", \"automation\"]"
            },
            {
              "name": "assignees",
              "value": "[\"peschull\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "github-create-issue-failure",
      "name": "Create GitHub Issue - Build Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "✅ *Build Pipeline Successful* \\n🏗️ Service: {{ $('Webhook - Build Trigger').item.json.service || 'multiple' }}\\n🌿 Branch: {{ $('Webhook - Build Trigger').item.json.branch || 'unknown' }}\\n⏰ Time: {{ $('Webhook - Build Trigger').item.json.timestamp }}"
            },
            {
              "name": "channel",
              "value": "#moe-deployments"
            },
            {
              "name": "username",
              "value": "MOE Build Bot"
            },
            {
              "name": "icon_emoji",
              "value": ":building_construction:"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-build-success",
      "name": "Slack - Build Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processed\", \"webhook\": \"build-pipeline\", \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.codacy.com/2.0/projects/{{ $json.CODACY_PROJECT_ID }}/analysis",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "project-token",
              "value": "={{ $json.CODACY_PROJECT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "commit",
              "value": "={{ $('Webhook - Build Trigger').item.json.commit }}"
            }
          ]
        }
      },
      "id": "trigger-codacy-analysis",
      "name": "Trigger Codacy Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 520]
    }
  ],
  "connections": {
    "Webhook - Build Trigger": {
      "main": [
        [
          {
            "node": "Build Success?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Codacy Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success?": {
      "main": [
        [
          {
            "node": "Slack - Build Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue - Build Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue - Build Failed": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Build Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-27T10:00:00.000Z",
      "updatedAt": "2025-09-27T10:00:00.000Z",
      "id": "moe-build",
      "name": "MOE Build"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-27T10:00:00.000Z",
  "versionId": "1"
}
