automation/n8n/workflows/plesk-deployment-notifications.json
{
  "name": "MOE Plesk Deployment Notifications",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deployment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-deployment",
      "name": "Webhook - Deployment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "deployment-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "deployment-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-deployment-success",
      "name": "Deployment Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚀 *Deployment Successful!*\\n\\n📦 **Service:** {{ $('Webhook - Deployment').item.json.service }}\\n🌐 **Environment:** {{ $('Webhook - Deployment').item.json.environment || 'production' }}\\n🌿 **Branch:** {{ $('Webhook - Deployment').item.json.branch }}\\n📝 **Commit:** {{ $('Webhook - Deployment').item.json.commit }}\\n⏰ **Time:** {{ $('Webhook - Deployment').item.json.timestamp }}\\n\\n✅ Live at: https://{{ $('Webhook - Deployment').item.json.service === 'crm' ? 'crm' : $('Webhook - Deployment').item.json.service === 'api' ? 'api' : 'www' }}.menschlichkeit-oesterreich.at"
            },
            {
              "name": "channel",
              "value": "#moe-deployments"
            },
            {
              "name": "username",
              "value": "MOE Deploy Bot"
            },
            {
              "name": "icon_emoji",
              "value": ":rocket:"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-deploy-success",
      "name": "Slack - Deploy Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 *Deployment Failed!*\\n\\n❌ **Service:** {{ $('Webhook - Deployment').item.json.service }}\\n🌐 **Environment:** {{ $('Webhook - Deployment').item.json.environment || 'production' }}\\n🌿 **Branch:** {{ $('Webhook - Deployment').item.json.branch }}\\n📝 **Commit:** {{ $('Webhook - Deployment').item.json.commit }}\\n💥 **Error:** {{ $('Webhook - Deployment').item.json.error || 'No error details' }}\\n⏰ **Time:** {{ $('Webhook - Deployment').item.json.timestamp }}\\n\\n@peschull needs immediate attention!"
            },
            {
              "name": "channel",
              "value": "#moe-alerts"
            },
            {
              "name": "username",
              "value": "MOE Alert Bot"
            },
            {
              "name": "icon_emoji",
              "value": ":warning:"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-deploy-failure",
      "name": "Slack - Deploy Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/peschull/menschlichkeit-oesterreich-development/issues",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "🚨 Deployment Failed - {{ $('Webhook - Deployment').item.json.service }} Service"
            },
            {
              "name": "body",
              "value": "**Plesk Deployment Failed**\\n\\n- **Service:** {{ $('Webhook - Deployment').item.json.service }}\\n- **Environment:** {{ $('Webhook - Deployment').item.json.environment || 'production' }}\\n- **Branch:** {{ $('Webhook - Deployment').item.json.branch }}\\n- **Commit:** {{ $('Webhook - Deployment').item.json.commit }}\\n- **Error:** {{ $('Webhook - Deployment').item.json.error || 'No error details provided' }}\\n- **Time:** {{ $('Webhook - Deployment').item.json.timestamp }}\\n\\n## Next Steps\\n- [ ] Check Plesk deployment logs\\n- [ ] Verify server connectivity\\n- [ ] Check service dependencies\\n- [ ] Review recent changes\\n\\n@peschull"
            },
            {
              "name": "labels",
              "value": "[\"deployment-failure\", \"critical\", \"plesk\"]"
            },
            {
              "name": "assignees",
              "value": "[\"peschull\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "github-deployment-issue",
      "name": "Create GitHub Issue - Deploy Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://{{ $('Webhook - Deployment').item.json.service === 'crm' ? 'crm' : $('Webhook - Deployment').item.json.service === 'api' ? 'api' : 'www' }}.menschlichkeit-oesterreich.at/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health-check-deployed",
      "name": "Health Check Deployed Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processed\", \"webhook\": \"deployment\", \"timestamp\": new Date().toISOString(), \"service\": $('Webhook - Deployment').item.json.service } }}"
      },
      "id": "respond-deployment",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook - Deployment": {
      "main": [
        [
          {
            "node": "Deployment Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deployment Success?": {
      "main": [
        [
          {
            "node": "Slack - Deploy Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Deploy Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Deploy Success": {
      "main": [
        [
          {
            "node": "Health Check Deployed Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Deploy Failure": {
      "main": [
        [
          {
            "node": "Create GitHub Issue - Deploy Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue - Deploy Failed": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check Deployed Service": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-27T10:00:00.000Z",
      "updatedAt": "2025-09-27T10:00:00.000Z",
      "id": "moe-deployment",
      "name": "MOE Deployment"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-27T10:00:00.000Z",
  "versionId": "1"
}
